

/*HOTEL*/

form.box-entrada {
    
}

.box-entrada {
    
}

.box-entrada .izq {
    float: left;
    width: 300px;
}

.box-entrada .der {
    float: right;
    width: 300px;
    margin: 0 40px 0 0;
}


.box-entrada .cuenta {
    float: left;
    width: 300px;
}

.box-entrada .cuenta label {
   float: left;
    margin: 10px 0 0 20px; 
}

.box-entrada .cuenta input {
    width: 270px;
    margin: 10px 0 0 20px;
}


.box-entrada .descripcion {
  float: left;
    width: 300px;  
}

.box-entrada .descripcion label {
    float: left;
    margin: 10px 0 0 20px;
}

.box-entrada .descripcion input {
    width: 270px;
    margin: 10px 0 0 20px;
}

.box-entrada .detalle {
    float: left;
    width: 300px;
}

.box-entrada .detalle label {
    margin: 10px 0 0 20px;
}

.box-entrada .detalle input {
    width: 270px;
    margin: 10px 0 0 20px;
}

.box-entrada .proveedor {
    float: left;
    width: 300px;
}

.box-entrada .proveedor label {
    margin: 10px 0 0 20px;
}

.box-entrada .proveedor select {
    width: 270px;
    margin: 10px 0 0 20px;
    background-color: #FFFFFF;
}

.box-entrada .mes {
    float: left;
    width: 100px;
    margin: 0 0 30px 70px;
}

.box-entrada .mes label {
    margin: 10px 0 0 20px;
}

.box-entrada .mes input {
    width: 70px;
    margin: 10px 0 0 20px;
}

.box-entrada .monto {
    float: left;
    width: 120px;
}

.box-entrada .monto label {
    margin: 10px 0 0 20px;
}

.box-entrada .monto input {
    width: 100px;
    margin: 10px 0 0 20px;
}

form.box-entrada .box-entrada .agregar_gasto {
    float: left;
    margin: 36px 0 0 190px;
    border: 1px solid #4685CA;
    border-radius: 5px 5px 5px 5px;
    color: #4685CA;  
    font-size: 13px;
    width: 100px;
    font-size: 16px;
    height: 30px;
    /*background-color: #77858e;*/
    /*padding: 0 0 0 2px;*/
}




































div.hotel {
    width: 139px;
    margin: 15px 0 0 10px;
    float: left;
}
div.hotel label {
    float: left;
    margin: 0 0 5px 0;
}
input.hotel {
    float: left;
    border: 1px solid #4685CA;
    border-radius: 5px 5px 5px 5px;
    color: #77858e;
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding: 0 0 0 2px;
}
/*COMENTARIO*/
div.comentario {
    float: left;
    width: 320px;
    margin: 15px 0 0 5px;
}
div.comentario label {
    float: left;
    margin: 0 0 5px 10px;
    width: 100%;
}
input.comentario {
    float: left;
    margin: 0 0 0 10px;
    border: 1px solid #4685CA;
    border-radius: 5px 5px 5px 5px;
    color: #77858e;
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding: 0 0 0 2px;
}
/*COSTO*/
div.costo {
    width: 100px;
    margin: 15px 0 0 15px;
    float: left;
}
div.costo label {
    float: left;
    margin: 0 0 5px 10px;
}
input.costo {
    float: left;
    margin: 0 0 0 10px;
    border: 1px solid #4685CA;
    border-radius: 5px 5px 5px 5px;
    color: #77858e;
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding: 0 0 0 2px;
}

div.archivo {
    float: left;
    width: 280px;
    margin: 5px 0 20px 165px;
}

div.archivo label {
    float: left;
    margin: 0 0 5px 1px;
    width: 100%;
}

input.archivo {
    float: left;
    /*margin: 2px 0 0 10px;*/
    border: 1px solid #4685CA;
    border-radius: 5px 5px 5px 5px;
    color: #77858e;
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding: 0 0 0 2px;
}

form .box-entrada .observaciones label {
    float:left;
    margin: 10px 0 0 20px;
}

form .box-entrada .observaciones textarea {
    float:left;
    width: 570px;
    margin: 10px 0 10px 20px;
    height: 60px;
}

form .box-entrada input.agregar_observaciones {
    margin: 20px 45px 20px 0;
    float: right;
    width: 200px;
    color: #4685CA;
}




input.agregar_hotel {

}





